<h1><%= @roster.name %></h1>

<% @assignments.each do |assignment| %>
  <div class="roster-row">
    <div class="period"><%= assignment.year %> W<%= assignment.week_number %></div>
    <div class="slot"><%= assignment.person.full_name %></div>
  </div>
<% end %>

<p><%= react_component "Test", {title: "test"} %></p>